*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #083b4c;
}
.square{
    width: 100px;
    height: 100px;
    background-color: #1389b2;
}
.bg_square_3{
    background-color:#0cd6a1 ;
}
.bg_square_5{
    background-color:#ffd166 ;
}
.bg_square_15{
    background-color:#f0466f ;
}